on: [push, pull_request]

name: "bincrafters-package-tools"

jobs:
  bincrafters-package-tools-test:
    name: Test Tools on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04", "windows-2019", "macos-10.15"]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: "Build & Test"
      run: |
        pip install -e .[test]
        python setup.py sdist
        cd tests
        pytest -v -s --cov=bincrafters
    - name: "Coverage"
      run: |
        cd tests
        mv .coverage ..
        cd ..
        codecov
  bincrafers-package-tools-deploy:
    name: Deploy Package Tools to PyPi
    runs-on: ubuntu-20.04
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: bincrafters-package-tools-test
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Build
      run: |
        python setup.py sdist
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
